* {
    padding: 0;
    margin: 0;
    border: 0;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background-color:rgb(243, 243, 243);
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;   
    width: 100%;
    height: 100%;
    // background-color:red;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: blanchedalmond;    
    width: 80vh;
    height: 80vh;
    flex-direction: column;
    font-size: 50px;
    span {
        color:red;    
    }

}
.game {
    display: grid;
    grid-template-columns: repeat(3,32%);
    grid-template-rows: repeat(3, 32%);
    // gap: 5%;
    justify-items: stretch;
    align-items: stretch;
    justify-content: space-evenly;
    align-content: space-evenly;

    // justify-content: center;
    // align-items: center;
    width: 100%;
    height: 85%;
    // background-color: white;


}
.zero, .one, .two, .three, .four, .five, .six, .seven, .eight {
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: black;
    // border:2px solid white;
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 100px;
        cursor: pointer;
        background-color: rgb(137, 134, 134);
        color: white;
        // &:hover {
        //     background-color: rgb(87, 86, 86);
        // }
        // &:active {
        //     background-color: rgb(61, 61, 61);
        // }
    }
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    // background-color:red;
    button {
        width: 50%;
        height: 70%;
        border-radius: 10px;
        font-size: 20px;
        color:white;
        background-color: black;
        border:1px solid white;
        font-weight: 200;
        // font-size-adjust: inherit;


    }
}

button {
    cursor: pointer;
}
.reset {
    cursor: pointer;
}